html {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	height:100%;
}

body {
	background:#479a2e;
	background-image:url("../img/renorator_bg.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5 {
	margin:0;
	padding:0;
}

.content {
	width:960px;
	margin:0 auto;
}

.header {
	height:65px;
	padding:10px 0;
	background: #4f4f4f; /* Old browsers */
background: -moz-linear-gradient(top, #4f4f4f 0%, #a3a3a3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4f4f4f 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4f4f4f 0%,#a3a3a3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4f4f4f 0%,#a3a3a3 100%); /* IE10+ */
background: linear-gradient(to bottom, #4f4f4f 0%,#a3a3a3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */
}

.footer {
	color:white;
	height:35px;
	position:absolute;
	bottom:0;
	width:100%;
	padding:20px 0;
	border-top:1px solid #B7B7B7;
	background: #7d7e7d;
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

.footer h4 {
	float:left;
}

.footer img {
	width:30px;
	height:30px;
	margin-left:5px;
	float:right;
}

.container {
   min-height:100%;
   position:relative;
}

.body {
   padding:10px;
   padding-bottom:75px;
   clear:both;
}

.header .logo {
	float:left;
}

.two_column_left, .two_column_right, .three_column_left, 
.three_column_middle, .three_column_right {
	border:2px solid #1f5716;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:url("../img/content_bg.png");
	-webkit-box-shadow: 0px 0px 15px 1px #1f5716;
	box-shadow: 0px 0px 15px 1px #1f5716;
	height:300px;
	padding:10px;
	float:left;
}

.two_column_left {
	margin:20px 20px 20px 0;
	width:216px;
}

.two_column_right {
	margin:20px 0 20px 0;
	width:674px;
}

.three_column_left {
	margin:20px 20px 20px 0;
	width:206px;
}

.three_column_middle {
	margin:20px 20px 20px 0;
	width:436px;
}

.three_column_right {
	margin:20px 0 20px 0;
	width:206px;
}

#cssmenu {width:400px; float:right;}
#cssmenu ul {margin: 0; padding: 7px 6px 0; background: #7d7d7d url(../img/overlay.png) repeat-x 0 -110px; line-height: 100%; border-radius: 1em; font: normal .8em/1.5em Arial, Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {margin: 0 5px; padding: 0 0 8px; float: left; position: relative; list-style: none; }
#cssmenu a,
#cssmenu a:link {font-weight: bold; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 20px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;	 text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, 
#cssmenu li:hover > a {background: #666 url(../img/overlay.png) repeat-x 0 -40px; color: #444; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#cssmenu ul ul a:hover {background: #8f8f8f url(../img/overlay.png) repeat-x 0 -100px !important; color: #fff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 40px; left: 0; background: #ddd url(../img/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #cssmenu  ul {height: 1%;}