@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<div class="two_column_left"></div>
<div class="two_column_right">

    <div class="form_container">
        <h2>Log In</h2>

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)

            <div class="editor-label">
                Email:
            </div>
            <div class="editor-field">
                @Html.Editor("email")
            </div>
       
            <div class="editor-label">
                Password:
            </div>
            <div class="editor-field">
                @Html.Password("password")
            </div>

            <p>
                <input type="submit" value="Log me in" class="orange_btn" />
            </p>

        }
    </div>
</div>