<!DOCTYPE html>
<html>
	<head>
		<title>RenoRator</title>
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="../../Scripts/jquery-ui-1.8.24.custom.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="content">
					<div class="logo">
						<img height="100px" src="/public/img/logo.png" />
					</div>
                    @(Session["user_id"] != null ? "Logged in" : "Not Logged in")
			  		<div id='cssmenu'>
						<ul>
					   		<li class='active '><a href='#'><span>Menu 1</span></a></li>
					   		<li class='has-sub '><a href='#'><span>Menu 2</span></a>
					      		<ul>
					         		<li><a href='#'><span>Sub Menu 1</span></a></li>
					         		<li><a href='#'><span>Sub Menu 2</span></a></li>
					      		</ul>
					   		</li>
					   		<li><a href='#'><span>Menu 3</span></a></li>
					   		<li><a href='#'><span>Menu 4</span></a></li>
						</ul>
					</div>
				</div>
		   </div>
		   <div class="body">
                <div class="content">
                    @RenderBody()
                </div>                
           </div>
		   <div class="footer">
				<div class="content">
					<h4>&copy; RenoRator.com - 2012 - All rights reserved</h4>
					<img src="/public/img/facebook-icon.png">
					<img src="/public/img/google-icon.png">
					<img src="/public/img/twitter-icon.png">
				</div>
		   </div>
		</div>
	</body>
</html>